.container {
  padding-top: 50px;
  margin-top: 170px;
  width: 860px;
  height: 400px;
  background-color: skyblue
  /* background-image: url("wsa.jpg"); */
  font-style: italic;
  box-shadow: 7px 7px 10px 12px #000;
}
.container2 {
  width: 100vw;
  height: 100vh;
  background-color: red;
}
.time {
  font-family: "Times New Roman", Times, serif;
}

body {
  /* background-image: url("clock.jpg"); */
  /* background-repeat: no-repeat; */
  background-color: rgb(164,116,73);
} 
.flex-container {
  display: flex;
  background-color: rgb(164,116,73);
  box-shadow: 4px 4px 4px #000;
}
li{
  list-style-type: none;
}

.flex-container > div {
  background-color: rgb(164,116,73);
  color: black;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
